@page "/Products"
@using Shopping.Web.Models.Page
@model Shopping.Web.Pages.Products.ProductListModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="../Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Products/ProductList">Products</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block" style="cursor: pointer;">
                    <li class="list-group-item" onclick="location.href='@Url.Page("/Products/ProductsList")'">All</li>
                    @foreach (var category in Model.CategoryList)
                    {
                        <li class="list-group-item" onclick="location.href='@Url.Page("/Products/ProductsList", new { categoryName = category })'">@category</li>
                    }
                </ul>
            </div>

            <!-- Dropdown para seleccionar el tamaño de la página -->
            <div class="card bg-light mb-3">
                <div class="card-header bg-secondary text-white text-uppercase">Page Size</div>
                <div class="card-body">
                    <select class="form-control" id="pageSize" name="pageSize" onchange="updatePageSize()">
                        <option value="1" selected="@(Model.PageSize == 1)">1</option>
                        <option value="5" selected="@(Model.PageSize == 5)">5</option>
                        <option value="10" selected="@(Model.PageSize == 10)">10</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">

                @foreach (var product in Model.ProductList)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <partial name="Products/Shared/_ProductItem" model="@product" />
                    </div>
                }

                @await Html.PartialAsync("../Shared/_Pagination", new PaginationModel
                {
                    PageIndex = Model.PageIndex,
                    PageSize = Model.PageSize,
                    TotalPages = Model.TotalPages,
                    PageName = "/Products/ProductsList"
                })
            </div>
        </div>

    </div>
</div>

@await Html.PartialAsync("Products/Shared/_ProductModal")

@section Scripts {
    <script>
        function updatePageSize() {
            var pageSize = document.getElementById("pageSize").value;
            var currentUrl = window.location.pathname;
            window.location.href = currentUrl + "?pageSize=" + pageSize + "&pageIndex=1&categoryName=@Model.SelectedCategory";
        }
    </script>
}